.location {
  background-color: white;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  padding: 10px 30px 30px 30px;
  width: 70vw;
  height: 800px;
}

.locations-container {
  display: flex;
  justify-content: space-around;
}

.location-text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .location {
    width: 100vw;
    padding: 10px 0 30px 0;
  }
}
