.hero-text {
  text-shadow: 3px 3px black;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  align-self: center;
  margin: 40vh 40px 40vh 40px;
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 3rem;
    text-shadow: 2px 2px black;
  }
}
