.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c08691;
  margin-bottom: 0;
  padding-bottom: 40px;
}

.contact-list {
  font-size: 25px;
  list-style: none;
  max-width: 900px;
  text-align: left;
}

.contact-list-item {
  margin: 10px;
}
