.gifts {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.gifts-list {
  list-style: none;
  text-align: left;
}

.gifts-list-item {
  margin: 10px;
}
