.gifts {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 750px;
}

.gifts-list {
  list-style: none;
  text-align: left;
}

.gifts-list-item {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .gifts {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}
