.gifts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gifts-list {
  list-style: none;
  max-width: 900px;
  text-align: left;
}

.gifts-list-item {
  margin: 10px;
}
