.transport {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.transport-info {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
